In [77]:
# Importando pandas
import pandas as pd

In [78]:
# Criando função para transformar o nome de uma variável em String
def nome_da_variavel(variavel):
    # Acessando o namespace local
    namespace = globals()
    for nome, valor in namespace.items():
        if valor is variavel:
            return nome
    return None

In [79]:
# Função para criar querys a partir dos dataframes
def table_creator(table):
    query = f"CREATE TABLE {nome_da_variavel(table)} (\n"
    for i in range(0, len(table.columns)):

        coluna = str(table.columns[i])
        dtipo = str(table[table.columns[i]].dtype)

        if i == 0:
            if dtipo == "object":
                cria_col = f"{coluna} VARCHAR(100) PRIMARY KEY,"
            else:
                cria_col = f"{coluna} INTEGER PRIMARY KEY,"
        elif i != len(table.columns) - 1:

            if "float" in dtipo:
                cria_col = f"{coluna} DECIMAL,"

            elif "int" in dtipo:
                cria_col = f"{coluna} INT,"

            elif "object" in dtipo:
                cria_col = f"{coluna} VARCHAR(100),"

        else:

            if "float" in dtipo:
                cria_col = f"{coluna} DECIMAL"

            elif "int" in dtipo:
                cria_col = f"{coluna} INT"

            elif "object" in dtipo:
                cria_col = f"{coluna} VARCHAR(100)"

        query += cria_col + "\n" 

    query += ");"
    return str(query)

In [80]:
produtos = pd.read_csv("datasets/olist_products_dataset.csv")
geo = pd.read_csv("datasets/olist_geolocation_dataset.csv")
clientes = pd.read_csv("datasets/olist_customers_dataset.csv")
itens = pd.read_csv("datasets/olist_order_items_dataset.csv")
pagamentos = pd.read_csv("datasets/olist_order_payments_dataset.csv")
reviews = pd.read_csv("datasets/olist_order_reviews_dataset.csv")
pedidos = pd.read_csv("datasets/olist_orders_dataset.csv")
vendedores = pd.read_csv("datasets/olist_sellers_dataset.csv")
categoria_produto = pd.read_csv("datasets/product_category_name_translation.csv")
#lista_df = {"produtos":produtos, "geo":geo, "clientes":clientes, "itens":itens, "pagamentos":pagamentos, "reviews":reviews, "pedidos":pedidos, "vendedores":vendedores, "categoria_produto":categoria_produto}
lista_df = [produtos, geo, clientes, itens, pagamentos, reviews, pedidos, vendedores, categoria_produto]

In [81]:
query = "\n"
for df in lista_df:
    query += table_creator(df) + "\n"

In [82]:
query

'\nCREATE TABLE produtos (\nproduct_id VARCHAR(100) PRIMARY KEY,\nproduct_category_name VARCHAR(100),\nproduct_name_lenght DECIMAL,\nproduct_description_lenght DECIMAL,\nproduct_photos_qty DECIMAL,\nproduct_weight_g DECIMAL,\nproduct_length_cm DECIMAL,\nproduct_height_cm DECIMAL,\nproduct_width_cm DECIMAL\n);\nCREATE TABLE geo (\ngeolocation_zip_code_prefix INTEGER PRIMARY KEY,\ngeolocation_lat DECIMAL,\ngeolocation_lng DECIMAL,\ngeolocation_city VARCHAR(100),\ngeolocation_state VARCHAR(100)\n);\nCREATE TABLE clientes (\ncustomer_id VARCHAR(100) PRIMARY KEY,\ncustomer_unique_id VARCHAR(100),\ncustomer_zip_code_prefix INT,\ncustomer_city VARCHAR(100),\ncustomer_state VARCHAR(100)\n);\nCREATE TABLE itens (\norder_id VARCHAR(100) PRIMARY KEY,\norder_item_id INT,\nproduct_id VARCHAR(100),\nseller_id VARCHAR(100),\nshipping_limit_date VARCHAR(100),\nprice DECIMAL,\nfreight_value DECIMAL\n);\nCREATE TABLE pagamentos (\norder_id VARCHAR(100) PRIMARY KEY,\npayment_sequential INT,\npayment_type VARCHAR(100),\npayment_installments INT,\npayment_value DECIMAL\n);\nCREATE TABLE reviews (\nreview_id VARCHAR(100) PRIMARY KEY,\norder_id VARCHAR(100),\nreview_score INT,\nreview_comment_title VARCHAR(100),\nreview_comment_message VARCHAR(100),\nreview_creation_date VARCHAR(100),\nreview_answer_timestamp VARCHAR(100)\n);\nCREATE TABLE pedidos (\norder_id VARCHAR(100) PRIMARY KEY,\ncustomer_id VARCHAR(100),\norder_status VARCHAR(100),\norder_purchase_timestamp VARCHAR(100),\norder_approved_at VARCHAR(100),\norder_delivered_carrier_date VARCHAR(100),\norder_delivered_customer_date VARCHAR(100),\norder_estimated_delivery_date VARCHAR(100)\n);\nCREATE TABLE vendedores (\nseller_id VARCHAR(100) PRIMARY KEY,\nseller_zip_code_prefix INT,\nseller_city VARCHAR(100),\nseller_state VARCHAR(100)\n);\nCREATE TABLE categoria_produto (\nproduct_category_name VARCHAR(100) PRIMARY KEY,\nproduct_category_name_english VARCHAR(100)\n);\n'

In [85]:
with open("create_table.txt", "w") as create:
    create.write(query)